/* General */
body {
    background-color: #001525;
}
  
* {
    box-sizing: border-box;
}

.window-wrapper, .door-wrapper {
    display: flex;
    height: 2.75rem;
}

/* Wall */
.triangle-up {
    width: 0;
    height: 0;
    position: relative;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    border-bottom: 4.5rem solid #ff9100;
}

/* Roof */
.rectangle {
    height: 6.5rem;
    width: 10rem;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #ff9100;
}

.chimney {
    height: 3.5rem;
    width: 1.5rem;
    position: absolute;
    left: -4rem;
    top: .5rem;
    background-color: #ff9100;
}

/* Door */
.door-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
  
.door-wrapper > div {
    position: relative;
    background-color: #e36414;
    width: 2rem;
    height: 3rem;
}
  
.door-wrapper > div:after {
    content: '';
    width: .3rem;
    height: .3rem;
    position: absolute;
    left:.2rem;
    top: 50%;
    transform: translateY(-50%);
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #001525;
}

/* Window */
.window-container {
    display: flex;
    justify-content: space-around;
}

.window-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.window-wrapper-left {
    align-content: flex-start;
}

.window-wrapper-right {
    align-content: flex-end;
}
  
  
.box {
    flex: 0 0 1rem;
    width: 1rem;
    background-color: #001525;
    margin: 2px;
}
  
